# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Plane Prg.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\TheGitFolder\DGM_1610_2021_Parker\Plane Prg\.idea\.idea.Plane Prg\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
