# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Proj 4.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\TheGitFolder\DGM_1610_2021_Parker\Proj 4\.idea\.idea.Proj 4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
